{
    auto_https off
}

:80, :9000 {
    # 静态文件处理
    handle /static/* {
        uri strip_prefix /static
        root * /srv/staticfiles
        file_server
    }

    # 媒体文件处理
    handle /media/* {
        uri strip_prefix /media
        root * /srv/media
        file_server
    }

    # 其他请求转发到Django
    reverse_proxy powermoniter-main-web:8000 {
        header_up Host {http.request.host}       # 设置Host头部
        header_up X-Real-IP {remote_host}        # 客户端真实IP
        header_up X-Forwarded-For {remote_host}  # 转发链IP
        header_up X-Forwarded-Proto {scheme}     # http或https
        header_up X-Forwarded-Host {hostport}    # 包含端口信息
    }

    encode zstd gzip
}